/proffessional-servlet-tutorials-converted/file-upload-servlet-jsp-jdbc-mysql-example/nbproject/private/
/proffessional-servlet-tutorials-converted/jsp-servlet-jdbc-mysql-crud-example/nbproject/private/
/proffessional-servlet-tutorials-converted/jsp-servlet-jdbc-mysql-example/nbproject/private/
/proffessional-servlet-tutorials-converted/jsp-servlet-mvc-web-app/nbproject/private/
/proffessional-servlet-tutorials-converted/login-jsp-servlet-hibernate-example/nbproject/private/
/proffessional-servlet-tutorials-converted/login-jsp-servlet-jdbc-example/nbproject/private/
/proffessional-servlet-tutorials-converted/login-jsp-servlet-jdbc-example/build/
/proffessional-servlet-tutorials-converted/file-upload-servlet-jsp-jdbc-mysql-example/build/
/CampusTravelPlanner/nbproject/private/
/CampusTravelPlanner/build/
/341_Group_Contributions/Forms/2_Departments/nbproject/private/
/341_Group_Contributions/Forms/2_Departments_V/build/
/341_Group_Contributions/Forms/2_Departments_V/nbproject/private/
/341_Group_Contributions/Forms/3_FinalTripList/nbproject/private/
/341_Group_Contributions/Forms/4_Funding_Requests/build/
/341_Group_Contributions/Forms/4_Funding_Requests/nbproject/private/
/341_Group_Contributions/Forms/6_Transport_Vehicle/build/
/341_Group_Contributions/Forms/6_Transport_Vehicle/dist/
/341_Group_Contributions/Forms/6_Transport_Vehicle/nbproject/private/
/341_Group_Contributions/Forms/7_Trip_Vehicle/build/
/341_Group_Contributions/Forms/7_Trip_Vehicle/nbproject/private/
/341_Group_Contributions/Forms/8_Trip/build/
/341_Group_Contributions/Forms/8_Trip/nbproject/private/
/341_Group_Contributions/Forms/Campus_Travel_Planner/build/
/341_Group_Contributions/Forms/Campus_Travel_Planner/nbproject/private/
/341_Group_Contributions/CampusTravelPlanner/build/
/341_Group_Contributions/CampusTravelPlanner/nbproject/private/
/341_Group_Contributions/Forms/2_Department/nbproject/private/
/341_Group_Contributions/Forms/2_Department/build/
/341_Group_Contributions/Forms/1_communication/build/
/341_Group_Contributions/Forms/1_communication/nbproject/private/
/341_Group_Contributions/Reports/6_approval_workflow_overview/nbproject/private/
/341_Group_Contributions/Reports/6_approval_workflow_overview/build/
/Documentation/converted_tutorials/login-jsp-servlet-jdbc-example/nbproject/private/
/Documentation/converted_tutorials/login-jsp-servlet-jdbc-example/build/
/341_Group_Contributions/Reports/Approval_Manenoz/nbproject/private/
/341_Group_Contributions/Reports/Approval_Manenoz/build/
/341_Group_Contributions/Reports/JavaApplication1/nbproject/private/
/341_Group_Contributions/Reports/JavaApplication1/build/
/341_Group_Contributions/Reports/6_ApprovalManenoz/nbproject/private/
/341_Group_Contributions/Reports/6_ApprovalManenoz/build/
/341_Group_Contributions/Reports/6_ApprovalManenoz/dist/
/Documentation/Working_HELLO_WORLD/nbproject/private/
/Documentation/Working_HELLO_WORLD/build/
