<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>6_approval_workflow_overview.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ApprovalWorkflowOverviewServlet</servlet-name>
        <servlet-class>ApprovalWorkflowOverviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApprovalWorkflowOverviewServlet</servlet-name>
        <url-pattern>/ApprovalWorkflowOverviewServlet</url-pattern>
    </servlet-mapping>
</web-app>
